.video-yt{
    display:flex;
    align-items: center;
    justify-content: center;
}
iframe{
    width:806px;
    height:306px;
    border-radius:5px;
}
/* .parallax {
  /* The image used 
  background: url("../img/img_lucas.jpeg");

  /* Set a specific height 
  min-height: 500px;

  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
*/